<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>Quoting Dojo</title>
</head>
<body>
  <div class="container">
    <div class="quote-box">
      <div class="content">
        <h3 id="title">See these quotes?</h3>
        <form action="/" method="GET">
          <button class="button-primary" type="button" id="backToQuotes">Submit another quote</button>
        </form>

      </div>
      
    </div>
  </div>
  
</body>
</html>