<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your Info</title>
</head>
<body>
  <h3>Your Information</h3>
  <div class="name">
    Name:
    <p></p>
  </div>
  <div class="location">
    Location:
    <p></p>
  </div>
  <div class="language">
    Language:
    <p></p>
  </div>
  <div class="comment">
    Comments:
    <p></p>
  </div>
</body>
</html>