<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>basic mongoose</title>
</head>
<body>
  <h1>Ay yo</h1>
  <ul>
  <% for (let i=0; i<users.length; i++) { %>
    <li>Name: <%= users[i].name%>, Age: <%= users[i].age %></li>
  <% } %>
  </ul>
  <!-- <p><%= JSON.stringify(users) %></p> -->

  <h3>A form</h3>
  <form action="/users" method="POST">
    <label for="name">User Name:</label>
    <input type="text" name="name" placeholder="Name">
    
    <label for="age">Age:</label>
    <input type="number" name="age" placeholder="Age">
    <button type="submit">Enter Info</button>
  </form>
</body>
</html>