<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Epic Button Game</title>
  <script src="/socket.io/socket.io.js"></script>
  
</head>
<body>
  <div class="container">
    <h1>Epic Button Game!</h1>
    <h2 id="message">The button has been pushed 0 times</h2>
    <button id="epic" type="button">Epic Button</button>
    <button id="clear" type="button">Reset</button>
  </div>

  <script>
    var socket = io();
    let epic = document.getElementById('epic');
    epic.addEventListener("click", function(){
      socket.emit("pressed")
    })
    socket.on("count", function(msg){
      let message = document.getElementById('message')
      message.innerHTML = msg;
    })
    let clear = document.getElementById("clear");
    clear.addEventListener("click", function(){
      socket.emit('clear');
    })
    // socket.on('news', function (data) {
    //   console.log(data);
    //   socket.emit('my other event', { my: 'data' });
    // });
  </script> 
</body>
</html>