<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Grand Number Game</title>
</head>
<body>
  <h2>Welcome to the greatest number game!</h2>
  <h3>I'm thinking of a number between 1-50 <br><br>Take a guess!</h3>
  <div class="response">
    <p><%= answer %></p>
  </div>
  <form action="/check" method="post">
    <input name="number" type="number">
    <button type="submit">Guess</button>
  </form>

</body>
</html>