.team-members {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
  margin-left: 15%;
  margin-right: 15%;
}

.team-members div img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
}