<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>Add a new member to family</title>
</head>
<body>
  <div class="container">
    <h2>Add a new bear to the family!</h2>
    <form action="/bears" method="post">
      <div class="row">
        <div class="six columns">
          <label for="name">Name: </label>
          <input class="u-full-width" type="text" name="name" placeholder="Name your bear" required>
          <label for="age">Age: </label>
          <input type="number" name="age" placeholder="How old is it?" required>
          <label for="about">About me: </label>
          <input class="u-full-width" type="text" name="about" placeholder="Tell us more about your bear!">
          <button class="button-primary" type="submit">Add me!</button>
        </div>
      </div>
      
    </form>
  </div>
  
</body>
</html>